.input-container {

    margin: 24px 0px 24px 0px;
}

h2 {
    color: #202124;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px 0px 8px 0px;
}

ion-input {
    border-radius: 8px;
    --border-color: #d0d5ddf9;
    --background: #fff;
    --border-radius: 8px;
    --highlight-color-focused: #896AF9;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-size: 16px;

    &:hover {
        border: none;
    }
}

ion-input.input-fill-outline {
    --border-radius: 8px;
    --border-color: #d0d5ddf9;
    padding: 10px 14px;
}