/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: Nunito;
    src: url(./assets/fonts/Nunito-Variable.ttf);
}

* {
    font-family: Nunito;
}

ion-card {
    margin: 0px;
}

ion-col {
    padding: 5px;
}

ion-item {
    --background: none;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.font-bold {
    font-weight: 900;
}

* {
    font-family: Nunito;
}

ion-card {
    box-shadow: none;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
  }

  p {
    font-size: 18px;
  }

  ion-button {
    --box-shadow: 4px 4px 0px -1px #896AF9;;
    height: 65px;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
  
    --border-radius: 24px;
    --border-color: #896AF9;
    --border-style: solid;
    --border-width: 1px;
  
    &:hover {
      --box-shadow: 0px 0px 0px 0px #896AF9;
    }
  }